@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,700;1,9..144,700&display=swap');

body {
    background-color: #f2ebe3;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 1vh;
}

.card {
    background-color: #fff;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    max-width: 350px;
    border-radius: 10px;
}

.img-mobile {
    display: inline-block;
    justify-content: center;
    align-items: center;
    max-width: 350px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.img-desktop {
    display: none;
}

.card h1 {
    font-family: 'Fraunces';
}

.card h2 {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #636363;
}

.card h3 {
    font-family: 'Fraunces';
    font-size: 32px;
    color: #3c8067;
}

.card h4 {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 14px;
    color: #636363;
    text-decoration: line-through;
}

.card #price {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
}

.card #rrp {
    padding-left: 20px;
}

.card p {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 14px;
    color: #636363;
}

.content {
    padding: 20px;
}

button {
    background-color: #3c8067;
    width: 300px;
    border: none;
    border-radius: 10px;
    color: #fff;
    padding: 16px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: auto;
    cursor: pointer;
    font-size: 14px;
    font-family: 'Montserrat';
    font-weight: 500;
}

button:hover {
    background-color: #2e614e;
}

#icon {
    padding-right: 10px;
    padding-left: 10px;
    display: inline-block;
}

@media (min-width: 48em) {
    .img-mobile {
        display: none;
    }

    .img-desktop {
        max-height: 400px;
        display: flex;
        float: left;
    }

    .card {
        float: right;
    }
}